.doc-file .ui.segment{
	margin-bottom: 10px;
}
.wcst-chat.ui.comments{
	width: 100%;
}
.wcst-chat .wcst-chat-user, .wcst-chat .wcst-chat-admin{
	border-radius: 5px;
    position: relative;
    padding: 5px 10px;
}
.wcst-chat .wcst-chat-admin{
	background: #d2d6de;
    border: 1px solid #d2d6de;
    color: #444;
}
.wcst-chat .wcst-chat-user{
	background: #f39c12;
    border: 1px solid #f39c12;
    color: #fff;
}
.wcst-chat .wcst-chat-message{
	height: 250px;
    overflow: auto;
	padding: 10px;
}
.doc-file img.ui.image{
	width: 130px;
	height: 97px;
}